In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
import io

In [2]:
df = pd.read_csv('MissingFilesTest.csv', delimiter='\t', encoding='utf_16',
                 skiprows=[0,2])
df.dropna(thresh=2)

,Company_Code,Division_Code,Invoice_Number,Customer_Number,Customer_Purchase_Order_Number,DATE_INVOICED,DATE_CREATED,DOCTYPE,SEGMENTSEPERATOR,ELEMENTSEPERATOR,MAPPINGFILE,id,REMARKS
0,5,0.0,18.0,FAMILY,45732368.0,6/9/17,6/9/17,810.0,37C10B5D-5D75-40D1-AEB5-F8118141DA84,E13C2B4F-414F-4604-8922-06D63941A255,810.xmp,2029.0,NaN
1,3,0.0,3002022.0,SAMS,606790393.0,5/12/17,5/24/17,810.0,37C10B5D-5D75-40D1-AEB5-F8118141DA84,E13C2B4F-414F-4604-8922-06D63941A255,810.xmp,1083.0,NaN

In [8]:
df.to_csv('MissingFilesTestClean')

In [3]:
# import pymysql
# from sqlalchemy import create_engine
# cnx = create_engine('mysql+pymysql://[user]:[pass]@[host]:[port]/[schema]', echo=False)

# data = pd.read_sql('SELECT * FROM sample_table', cnx)
# data.to_sql(name='sample_table2', con=cnx, if_exists = 'append', index=False)

In [4]:
cnx = create_engine('sqlite://')

In [5]:
df.to_sql(table_name, conn, if_exists='append', index=False)

NameError: name 'table_name' is not defined

In [ ]:
sqlite_db = 'dsi-db.sqlite'
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()